@import url("https://fonts.googleapis.com/css?family=Bellefair|Roboto");
/* line 1, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 5, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_reset.scss */
html {
  min-height: 100%;
}

/* line 9, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_reset.scss */
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* line 16, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_reset.scss */
ul, li {
  list-style: none;
}

/* line 20, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_reset.scss */
a {
  text-decoration: none;
  color: #4A4A4A;
  outline: 0;
}

/* line 26, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_reset.scss */
.btn {
  margin: 0 !important;
  box-shadow: none !important;
  text-transform: capitalize !important;
}

/* line 2, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
.min-h858 {
  min-height: 858px;
}

/* line 5, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
.p-t-0 {
  padding-top: 0px !important;
}

/* line 8, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
.p-b-0 {
  padding-bottom: 0px !important;
}

/* line 12, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
.bg-white {
  background: #FFF !important;
}

/* line 16, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
.c-yellow {
  color: #FECB3F !important;
}

/* line 20, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
.m-t-120 {
  margin-top: 120px;
}

/* line 24, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
.overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/* line 35, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
.form-control, #forms .form-control:hover, #success .form-control:hover, #mvp_ad .form-control:hover, #forms .form-control:focus, #success .form-control:focus, #mvp_ad .form-control:focus {
  padding: 0 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  font-size: .875rem;
  border-bottom: 0;
  transition: none !important;
  border: none;
}

/* line 42, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
.form-control:focus, #forms .form-control:focus, #success .form-control:focus, #mvp_ad .form-control:focus, .form-control:hover, #forms .form-control:hover, #success .form-control:hover, #mvp_ad .form-control:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: none !important;
  outline: 0;
}

/* line 49, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
input[type=email].input-alternate,
input[type=text].input-alternate,
input[type=password].input-alternate {
  background: #FFF;
  box-sizing: border-box !important;
}

@media (min-width: 992px) {
  /* line 57, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
  .m-t-83 {
    margin-top: 83px !important;
  }
  /* line 60, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
  .width-60p {
    width: 60%;
  }
}

@media (max-width: 768px) {
  /* line 65, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_base.scss */
  .hidden-sm {
    display: none;
  }
}

@font-face {
  font-family: "Herveticanuea";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/helveticaneue.ttf") format("truetype");
}

@font-face {
  font-family: "Worksans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Work_Sans/WorkSans-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Worksans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Work_Sans/WorkSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Worksans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Work_Sans/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Worksans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Work_Sans/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Worksans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Work_Sans/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Worksans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Work_Sans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Worksans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Work_Sans/WorkSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Worksans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Work_Sans/WorkSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Worksans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Work_Sans/WorkSans-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Cedarville Cursive";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Cedarville_Cursive/Cedarville-Cursive.ttf") format("truetype");
}

/* line 14, C:/Users/USER/Documents/Repos/s/templates/assets/scss/modules/_typography.scss */
body {
  font-family: "Worksans", "serif";
  font-size: 14px;
  color: #4A4A4A;
}

/* line 1, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.navbar.navbar-toggleable-md .container {
  width: 100% !important;
}

/* line 4, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.collapse.navbar-collapse {
  justify-content: flex-end;
}

/* line 8, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.navbar.navbar-light .breadcrumb.active, .navbar.navbar-light .nav-item.active,
.navbar.navbar-light .breadcrumb:focus, .navbar.navbar-light .nav-item:focus {
  background-color: transparent !important;
  outline: 0 !important;
}

/* line 15, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.navbar .dropdown-menu {
  top: calc(100% + 17px);
  padding: 0;
  border-radius: 0;
  width: 100%;
  min-width: auto;
  display: block !important;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  transform: perspective(600px) rotateX(-90deg);
  -webkit-transform: perspective(600px) rotateX(-90deg);
  -moz-transform: perspective(600px) rotateX(-90deg);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

/* line 32, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.navbar .dropdown-menu a {
  padding: 8px 16px !important;
  display: block;
  color: #4A4A4A !important;
  font-weight: 600 !important;
}

/* line 37, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.navbar .dropdown-menu a:hover {
  color: #39526B !important;
}

@media (max-width: 991px) {
  /* line 15, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .navbar .dropdown-menu {
    position: relative !important;
    text-align: center;
    box-shadow: none;
    background: transparent;
  }
}

@media (min-width: 992px) {
  /* line 48, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .navbar .dropdown-menu.lg-dropdown-width {
    width: 215px !important;
  }
}

/* line 54, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.navbar-nav.mr-left {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #39526b;
}

/* line 59, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.navbar-nav.mr-left .nav-item {
  padding-left: 20px;
}

/* line 62, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.navbar-nav.mr-left .nav-item:hover .dropdown-menu {
  -moz-transform: perspective(600px) rotateX(0deg);
  -webkit-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}

/* line 70, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.navbar-nav.mr-left .nav-item .nav-link {
  text-transform: uppercase;
}

@media (max-width: 991px) {
  /* line 54, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .navbar-nav.mr-left {
    height: 100vh;
  }
}

/* line 80, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.navbar-brand img {
  width: 200px;
  height: 53px;
}

@media (max-width: 991px) {
  /* line 85, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .navbar-brand img {
    width: 120px;
    height: auto;
  }
}

/* line 134, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
body[data="fellowship"] .banner {
  background-image: url(../../assets/img/banners/fellowship.png);
}

/* line 134, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
body[data="about-us"] .banner {
  background-image: url(../../assets/img/banners/about-us.png);
}

/* line 136, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
body[data="about-us"] .banner h3 {
  text-align: center;
  margin: 0 auto;
}

/* line 134, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
body[data="courses"] .banner {
  background-image: url(../../assets/img/banners/courses.png);
}

/* line 134, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
body[data="mvp"] .banner {
  background-image: url(../../assets/img/banners/mvp.png);
}

/* line 134, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
body[data="products"] .banner {
  background-image: url(../../assets/img/banners/products.png);
}

/* line 134, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
body[data="events"] .banner {
  background-image: url(../../assets/img/banners/events.png);
}

/* line 134, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
body[data="default"] .banner {
  background-image: url(../../assets/img/banners/default.png);
}

/* line 97, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.banner_wrap .banner {
  position: relative;
  height: 500px;
  min-height: 500px;
}

/* line 102, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.banner_wrap .banner .container {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
}

/* line 106, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.banner_wrap .banner h3 {
  width: 100%;
  max-width: 751px;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 425px) {
  /* line 106, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .banner_wrap .banner h3 {
    font-size: 25px;
  }
}

/* line 119, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.banner_wrap .blue_box {
  height: 137px;
  min-height: 137px;
  background: #39526B;
  color: #FFF;
}

/* line 124, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.banner_wrap .blue_box .container {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

@media (min-width: 1200px) {
  /* line 124, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .banner_wrap .blue_box .container {
    max-width: 100%;
  }
}

/* line 133, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.banner_wrap .blue_box .form-inline .form-group {
  width: 478px;
  margin-right: 26px;
  margin-left: 24px;
}

/* line 138, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.banner_wrap .blue_box .form-inline label {
  min-height: 28px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 1200px) {
  /* line 138, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .banner_wrap .blue_box .form-inline label {
    justify-content: flex-start;
  }
}

/* line 148, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.banner_wrap .blue_box .form-inline select.form-control, .banner_wrap .blue_box .form-inline #forms select.form-control:hover, #forms .banner_wrap .blue_box .form-inline select.form-control:hover, .banner_wrap .blue_box .form-inline #success select.form-control:hover, #success .banner_wrap .blue_box .form-inline select.form-control:hover, .banner_wrap .blue_box .form-inline #mvp_ad select.form-control:hover, #mvp_ad .banner_wrap .blue_box .form-inline select.form-control:hover, .banner_wrap .blue_box .form-inline #forms select.form-control:focus, #forms .banner_wrap .blue_box .form-inline select.form-control:focus, .banner_wrap .blue_box .form-inline #success select.form-control:focus, #success .banner_wrap .blue_box .form-inline select.form-control:focus, .banner_wrap .blue_box .form-inline #mvp_ad select.form-control:focus, #mvp_ad .banner_wrap .blue_box .form-inline select.form-control:focus {
  width: 100%;
  height: 40px;
  border-radius: 1px;
  background-color: #ffffff;
  margin: 6px;
}

/* line 155, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
.banner_wrap .blue_box .form-inline button {
  height: 40px;
}

@media (max-width: 425px) {
  /* line 119, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .banner_wrap .blue_box {
    height: auto;
    padding: 20px 0px;
  }
}

@media (max-width: 1024px) {
  /* line 167, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .banner_wrap .blue_box .form-inline .form-group {
    width: 250px;
  }
  /* line 170, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .banner_wrap .blue_box .form-inline label {
    width: auto;
  }
}

@media (max-width: 425px) {
  /* line 179, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_header.scss */
  .banner_wrap .blue_box .form-group, .banner_wrap .blue_box select, .banner_wrap .blue_box button {
    width: 100% !important;
    margin: 5px auto !important;
  }
}

/* line 6, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
body[data="forms"] main {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
  background-color: #39526B;
  background-image: url(../../assets/img/backgrounds/form.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* line 18, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
body[data="mvp_ad"] main {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 26, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#intro, #product, #forms, #success, #mvp_ad, #process, #how-it-works, #courses, #events, #mvp_ad2, #enroll, #seniors, #careers {
  padding: 88px 0;
}

/* line 33, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#intro .container .thumbnail, #product .container .thumbnail, #forms .container .thumbnail, #success .container .thumbnail, #mvp_ad .container .thumbnail {
  text-align: center;
  margin: 0 auto 48px auto;
}

@media (min-width: 992px) {
  /* line 39, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #intro .container, #product .container, #forms .container, #success .container, #mvp_ad .container {
    width: 60%;
  }
}

/* line 47, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#process .card, #how-it-works .card, #courses .card, #events .card, #mvp_ad2 .card {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  color: #4a4a4a;
  text-align: center;
}

/* line 52, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#process .card img, #how-it-works .card img, #courses .card img, #events .card img, #mvp_ad2 .card img {
  /*width: 72px;
			height: 72px;*/
  margin: 0 auto;
}

/* line 57, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#process .card .card-title, #how-it-works .card .card-title, #courses .card .card-title, #events .card .card-title, #mvp_ad2 .card .card-title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

/* line 62, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#process .card .card-text, #how-it-works .card .card-text, #courses .card .card-text, #events .card .card-text, #mvp_ad2 .card .card-text {
  font-size: 16px;
}

/* line 70, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
.descriptions .title {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 64px;
  font-family: "Roboto", sans-serif;
}

/* line 78, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
.descriptions p {
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: #4a4a4a;
}

/* line 87, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#how-it-works {
  min-height: 878px;
  background: #39526B;
  color: #FFF;
}

/* line 96, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#how-it-works .descriptions .title {
  color: #FFF;
}

/* line 100, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#how-it-works .card {
  color: #FFF;
  background-color: transparent;
  background: transparent;
  height: 100%;
}

/* line 105, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#how-it-works .card img {
  width: 86px;
  height: 72px;
  margin: 0 auto;
}

/* line 18, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
#how-it-works [class*='col-']:nth-child(1) .card {
  padding-bottom: 111px;
  padding-right: 111px;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
}

@media (max-width: 992px) {
  /* line 18, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
  #how-it-works [class*='col-']:nth-child(1) .card {
    padding-bottom: 55.5px;
    padding-right: 55.5px;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
  }
}

/* line 32, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
#how-it-works [class*='col-']:nth-child(2) .card {
  padding-bottom: 111px;
  padding-left: 111px;
  border-bottom: 1px solid #FFF;
}

@media (max-width: 992px) {
  /* line 32, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
  #how-it-works [class*='col-']:nth-child(2) .card {
    padding-bottom: 55.5px;
    padding-left: 55.5px;
    border-bottom: 1px solid #FFF;
  }
}

/* line 44, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
#how-it-works [class*='col-']:nth-child(3) .card {
  padding-top: 111px;
  padding-right: 111px;
  border-right: 1px solid #FFF;
}

@media (max-width: 992px) {
  /* line 44, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
  #how-it-works [class*='col-']:nth-child(3) .card {
    padding-top: 55.5px;
    padding-right: 55.5px;
    border-right: 1px solid #FFF;
  }
}

/* line 56, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
#how-it-works [class*='col-']:nth-child(4) .card {
  padding-top: 111px;
  padding-left: 111px;
}

@media (max-width: 992px) {
  /* line 56, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
  #how-it-works [class*='col-']:nth-child(4) .card {
    padding-top: 55.5px;
    padding-left: 55.5px;
  }
}

/* line 65, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
#how-it-works [class*='col-']:nth-child(odd) {
  padding-right: 0px;
}

@media (max-width: 992px) {
  /* line 65, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
  #how-it-works [class*='col-']:nth-child(odd) {
    padding-right: 0px;
  }
}

/* line 71, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
#how-it-works [class*='col-']:nth-child(even) {
  padding-left: 0px;
}

@media (max-width: 992px) {
  /* line 71, C:/Users/USER/Documents/Repos/s/templates/assets/scss/base/_mixins.scss */
  #how-it-works [class*='col-']:nth-child(even) {
    padding-left: 0px;
  }
}

@media (min-width: 992px) {
  /* line 113, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #how-it-works .container {
    width: 75%;
  }
}

/* line 119, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll, #seniors, #careers, #product {
  color: #4a4a4a;
  font-size: 16px;
}

/* line 123, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll h5, #seniors h5, #careers h5, #product h5, #enroll h6, #seniors h6, #careers h6, #product h6 {
  font-weight: 500;
}

/* line 126, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll .details, #seniors .details, #careers .details, #product .details {
  margin-bottom: 58px;
}

/* line 128, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll .details:last-child, #seniors .details:last-child, #careers .details:last-child, #product .details:last-child {
  margin-bottom: 0px;
}

/* line 132, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll .details_title, #seniors .details_title, #careers .details_title, #product .details_title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

/* line 137, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll .details_text, #seniors .details_text, #careers .details_text, #product .details_text {
  text-align: left;
}

/* line 140, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll ul, #seniors ul, #careers ul, #product ul {
  padding-left: 20px;
}

/* line 141, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll ul li, #seniors ul li, #careers ul li, #product ul li {
  list-style-type: disc;
}

/* line 147, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll .media img, #seniors .media img, #careers .media img, #product .media img {
  width: 166px;
  height: 185px;
}

/* line 152, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll .card, #seniors .card, #careers .card, #product .card {
  border-radius: 3px;
  background-color: #f9f9f9;
  border: solid 0.5px #E1E1E1;
  box-shadow: none;
  margin-bottom: 48px;
}

/* line 158, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll .card .starts, #seniors .card .starts, #careers .card .starts, #product .card .starts, #enroll .card .ends, #seniors .card .ends, #careers .card .ends, #product .card .ends, #enroll .card .address, #seniors .card .address, #careers .card .address, #product .card .address, #enroll .card .guides, #seniors .card .guides, #careers .card .guides, #product .card .guides {
  margin-bottom: 24px;
}

/* line 160, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#enroll .card .starts p, #seniors .card .starts p, #careers .card .starts p, #product .card .starts p, #enroll .card .ends p, #seniors .card .ends p, #careers .card .ends p, #product .card .ends p, #enroll .card .address p, #seniors .card .address p, #careers .card .address p, #product .card .address p, #enroll .card .guides p, #seniors .card .guides p, #careers .card .guides p, #product .card .guides p {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  /* line 166, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #enroll .row, #seniors .row, #careers .row, #product .row {
    justify-content: space-between;
  }
  /* line 169, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #enroll .col-md-3, #seniors .col-md-3, #careers .col-md-3, #product .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
}

/* line 183, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#courses [class*='col-'] .card, #events [class*='col-'] .card, #mvp_ad2 [class*='col-'] .card {
  padding-top: 16px;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  /* line 188, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #courses [class*='col-']:not(:first-child), #events [class*='col-']:not(:first-child), #mvp_ad2 [class*='col-']:not(:first-child) {
    padding-left: 0px;
  }
  /* line 191, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #courses [class*='col-']:not(:first-child) .card, #events [class*='col-']:not(:first-child) .card, #mvp_ad2 [class*='col-']:not(:first-child) .card {
    border-left: 1px solid #E1E1E1;
  }
  /* line 195, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #courses [class*='col-']:not(:last-child), #events [class*='col-']:not(:last-child), #mvp_ad2 [class*='col-']:not(:last-child) {
    padding-right: 0px;
  }
}

@media (max-width: 425px) {
  /* line 208, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #events [class*='col-']:not(:last-child) .card {
    border-bottom: 1px solid #E1E1E1;
  }
}

@media (min-width: 768px) {
  /* line 214, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #events [class*='col-'] .card {
    padding: 16px 60px;
  }
  /* line 218, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #events [class*='col-']:not(:first-child) .card {
    border-right: 1px solid #E1E1E1;
  }
  /* line 223, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #events [class*='col-']:not(:last-child) .card {
    border-left: 1px solid #E1E1E1;
  }
}

@media (min-width: 1024px) {
  /* line 229, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #events [class*='col-'] .card {
    padding: 32px 120px;
  }
}

/* line 238, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#events .fc-day-grid-event {
  text-align: center;
}

/* line 242, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#events .details p {
  font-size: 24px;
  text-align: center;
  color: #4a4a4a;
}

/* line 247, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#events .details button {
  width: 100%;
  max-width: 313px;
}

/* line 258, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#seniors .details, #careers .details {
  text-align: justify;
  margin-bottom: 48px;
}

/* line 259, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#seniors .details .job_title, #careers .details .job_title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}

/* line 264, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#seniors .details .mail, #careers .details .mail {
  color: #FECB3F;
  font-weight: bold;
}

@media (min-width: 1200px) {
  /* line 271, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #seniors .container, #careers .container {
    width: 978px;
    max-width: 100%;
  }
}

/* line 283, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .form-inline * {
  width: 100%;
}

/* line 286, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .form-inline .md-form {
  margin-bottom: 0px;
  margin-right: 12px;
  position: relative;
}

/* line 290, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .form-inline .md-form .form-control {
  margin-top: 6px;
  margin-bottom: 6px;
  height: 40px;
  box-sizing: border-box;
}

/* line 296, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .form-inline .md-form:nth-child(1) {
  max-width: 263px;
}

/* line 299, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .form-inline .md-form:nth-child(2) {
  max-width: 360px;
}

/* line 302, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .form-inline .md-form input[type="search"] {
  padding-left: 45px;
}

/* line 305, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .form-inline .md-form .fa {
  position: absolute;
  top: 18px;
  left: 16px;
  width: 16px !important;
  height: 16px !important;
}

/* line 313, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .form-inline button {
  max-width: 144px;
  height: 40px;
}

@media (min-width: 1200px) {
  /* line 313, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #careers .form-inline button {
    margin-left: 12px;
  }
}

/* line 321, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions {
  padding: 48px 97px;
  border: solid 0.5px #E1E1E1;
}

/* line 324, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions .headings {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #9b9b9b;
}

/* line 330, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions .time, #careers .positions .host li {
  font-size: 16px;
  color: #4a4a4a;
}

/* line 334, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions .host {
  margin-bottom: 0px;
}

/* line 336, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions .host li {
  list-style: none;
  list-style-type: none;
}

/* line 342, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions .descriptions, #careers .positions .starts, #careers .positions .ends {
  margin-bottom: 25px;
}

/* line 346, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions #bookingForm label {
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
}

/* line 351, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions #bookingForm textarea {
  min-height: 156px;
}

/* line 354, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions #bookingForm fieldset {
  margin-bottom: 48px;
}

/* line 357, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions #bookingForm .form-control {
  box-shadow: none !important;
  border: solid 0.5px #E1E1E1;
}

/* line 361, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions #bookingForm .md-form {
  width: 100%;
}

/* line 369, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions #bookingForm #durations {
  max-width: 166px;
}

/* line 372, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .positions #bookingForm #anchors, #careers .positions #bookingForm #event_initials .md-form:first-of-type {
  max-width: 361px;
}

@media (max-width: 425px) {
  /* line 321, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #careers .positions {
    padding: 10px 15px;
  }
}

/* line 380, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .position {
  margin-bottom: 54px;
}

/* line 382, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .position h4 {
  color: #39526B;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}

/* line 388, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .position li {
  list-style: none;
  list-style-type: none;
  font-size: 16px;
  color: #4A4A4A;
}

/* line 396, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#careers .details .place {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #9b9b9b;
}

/* line 409, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#product .card {
  background: #FFF;
  border-radius: 0;
}

/* line 412, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#product .card .thumbnail {
  min-height: 300px;
}

/* line 418, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms, #success, #mvp_ad {
  padding-top: 0 !important;
  color: #FFF;
}

/* line 423, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .form-control, #success .form-control, #mvp_ad .form-control, #forms .form-control:hover, #success .form-control:hover, #mvp_ad .form-control:hover, #forms .form-control:focus, #success .form-control:focus, #mvp_ad .form-control:focus {
  box-shadow: none !important;
  border: 1px solid #E1E1E1 !important;
  margin-top: 0px;
  margin-bottom: 12px;
  background: #FFF;
}

/* line 433, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .logo, #success .logo, #mvp_ad .logo {
  padding-bottom: 60px;
  padding-top: 20px;
}

/* line 436, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .logo img, #success .logo img, #mvp_ad .logo img {
  width: 200px;
  height: 53px;
}

/* line 441, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .form_intro, #success .form_intro, #mvp_ad .form_intro {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 8px;
}

/* line 447, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .instructions, #success .instructions, #mvp_ad .instructions {
  font-size: 14px;
  text-align: left;
  margin-bottom: 24px;
}

/* line 452, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms label, #success label, #mvp_ad label {
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
}

/* line 457, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms button, #success button, #mvp_ad button {
  margin-top: 24px;
}

/* line 460, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .md-form, #success .md-form, #mvp_ad .md-form {
  margin-bottom: 0px;
}

/* line 463, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .md-form [class*='col-']:first-child, #success .md-form [class*='col-']:first-child, #mvp_ad .md-form [class*='col-']:first-child {
  padding-right: 6px;
}

/* line 466, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .md-form [class*='col-']:last-child, #success .md-form [class*='col-']:last-child, #mvp_ad .md-form [class*='col-']:last-child {
  padding-left: 6px;
}

/* line 468, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .md-form [class*='col-']:last-child select, #success .md-form [class*='col-']:last-child select, #mvp_ad .md-form [class*='col-']:last-child select {
  padding-left: 10px;
  padding-right: 5px;
}

/* line 475, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .details, #success .details, #mvp_ad .details {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/* line 480, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#forms .details .details_text, #success .details .details_text, #mvp_ad .details .details_text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
}

/* line 488, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#success {
  color: #4A4A4A;
}

/* line 491, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#success .logo {
  padding-bottom: 142px;
}

@media (max-width: 425px) {
  /* line 491, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #success .logo {
    padding-bottom: 71px;
  }
}

/* line 497, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#success .card {
  width: 100%;
  max-width: 361.2px;
  margin: 0 auto;
  position: relative;
}

/* line 502, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#success .card:before, #success .card:after {
  top: 99%;
  right: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top: 30px solid #FFF;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 50px solid transparent;
}

/* line 519, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#mvp_ad {
  color: #4A4A4A;
}

/* line 522, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#mvp_ad .logo {
  padding-bottom: 100px;
}

@media (max-width: 425px) {
  /* line 522, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
  #mvp_ad .logo {
    padding-bottom: 50px;
  }
}

/* line 528, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#mvp_ad .descriptions {
  margin-bottom: 24px;
}

/* line 532, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#mvp_ad2 {
  background: #39526B;
  margin-bottom: 0;
  padding: 80px 0;
  color: #FFF;
}

/* line 538, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#mvp_ad2 .card {
  background: transparent;
  color: #FFF;
}

/* line 542, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#mvp_ad2 .descriptions .title, #mvp_ad2 .card-title, #mvp_ad2 a {
  color: #FFF;
}

/* line 545, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#mvp_ad2 .card-title {
  margin-bottom: 16px;
}

/* line 548, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#mvp_ad2 ul {
  margin-top: 152px;
}

/* line 551, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#mvp_ad2 li {
  text-align: center;
  display: inline-block;
}

/* line 554, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_main.scss */
#mvp_ad2 li:nth-child(2) {
  margin: 0 80px;
}

/* line 2, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
footer .footer-head {
  background: #4A4A4A;
  color: #FFF;
  height: 100px;
  min-height: 100px;
}

/* line 7, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
footer .footer-head .container {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
}

/* line 10, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
footer .footer-head .container span {
  font-size: 20px;
}

@media (max-width: 425px) {
  /* line 10, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
  footer .footer-head .container span {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  /* line 16, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
  footer .footer-head .container button {
    padding: 10px;
    font-size: 10px;
  }
}

/* line 24, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
footer .footer-body {
  color: #FFF;
  height: 315px;
  min-height: 315px;
  background: #39526B;
  padding-top: 48px;
}

/* line 32, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
footer .footer-body li span {
  font-size: 14px;
  text-transform: uppercase;
}

/* line 36, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
footer .footer-body .lists a, footer .footer-body .copyright {
  opacity: 0.6;
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
}

/* line 43, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
footer .footer-body .container {
  width: 100%;
  height: 100%;
}

/* line 46, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
footer .footer-body .container img {
  width: 200px;
  height: 53px;
}

/* line 50, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
footer .footer-body .container ul.icons li {
  display: inline-block;
}

/* line 52, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
footer .footer-body .container ul.icons li a {
  color: #FECB3F !important;
  margin-right: 20px;
}

@media (min-width: 768px) {
  /* line 58, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
  footer .footer-body .container .col-md-1 {
    width: calc(100%/7);
    flex: 0 0 calc(100%/7);
    max-width: calc(100%/7);
  }
}

@media (max-width: 1024px) {
  /* line 24, C:/Users/USER/Documents/Repos/s/templates/assets/scss/layout/_footer.scss */
  footer .footer-body {
    height: auto;
  }
}

/* line 1, C:/Users/USER/Documents/Repos/s/templates/assets/scss/modules/_buttons.scss */
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited {
  background: #FECB3F !important;
  background-color: #FECB3F !important;
}

/* line 1, C:/Users/USER/Documents/Repos/s/templates/assets/scss/modules/_components.scss */
.stuck {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-animation: fadeInDown 1.5s both;
  animation: fadeInDown 1.5s both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*# sourceMappingURL=../css/main.map */