$brand-yellow: #FECB3F;
$brand-blue: #39526B;
$brand-dark: #4A4A4A;
$brand-grey: #E1E1E1;
$font-family: 'Roboto', sans-serif;
$font-family2: 'Bellefair', serif;
$font-family3: 'Herveticanuea', serif;
$worksans: 'Worksans','serif';
$cedar: 'Cedarville Cursive', cursive;
$section-gap: 88px;
$images: fellowship, about-us, courses, mvp, products, events, default;