.navbar.navbar-toggleable-md .container{
	width: 100% !important;
}
.collapse.navbar-collapse{
	justify-content: flex-end;
}

.navbar.navbar-light .breadcrumb.active, .navbar.navbar-light .nav-item.active,
.navbar.navbar-light .breadcrumb:focus, .navbar.navbar-light .nav-item:focus 
 {
    background-color: transparent !important;
    outline: 0 !important;
}

.navbar .dropdown-menu {
    top: calc(100% + 17px);
	padding: 0;
	border-radius: 0;
	width: 100%;
	min-width: auto;
	display: block !important;
	-webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transform: perspective(600px) rotateX(-90deg);
    -moz-transform: perspective(600px) rotateX(-90deg);
    opacity: 0;
    visibility: hidden;
	transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
	a{
		padding: 8px 16px !important;
		display: block;
		color: $brand-dark !important;
		font-weight: 600 !important;
		&:hover{
			color: $brand-blue !important;
		}
	}
	@media(max-width: 991px){
		position: relative !important;
		text-align: center;
		box-shadow: none;
		background: transparent;
	}
	@media(min-width: 992px){
		&.lg-dropdown-width{
			width: 215px !important;
		}
	}
}

.navbar-nav.mr-left{
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #39526b;
	.nav-item{
		padding-left: 20px;
		&:hover{
			.dropdown-menu{
				-moz-transform: perspective(600px) rotateX(0deg);
				-webkit-transform: perspective(600px) rotateX(0deg);
				transform: perspective(600px) rotateX(0deg);
				opacity: 1;
				visibility: visible;
			}
		}
		.nav-link{
			text-transform: uppercase;
		}
	}
	@media(max-width: 991px){
		height: 100vh;
	}
}

.navbar-brand{
	img{
		width: 200px;
	    height: 53px;
	}
	@media(max-width: 991px){
		img{
			width: 120px;
			height: auto;
		}
	}
} 

.banner_wrap{
	.banner{
		position: relative;
		height: 500px;
		min-height: 500px;
		background-image: url(../../assets/img/banners/header.png);
		.container{
			height: 100%;
			@include flex-display(center, center, flex-start, row); 
		}
		h3{
			width: 100%;
			max-width: 751px;
		 	// height: 96px;
		  	font-size: 40px;
		 	font-weight: bold;
		 	text-align: left;
		 	color: #ffffff;
			@media(max-width: 425px){
				font-size: 25px;
			}
		}
	}
	.blue_box{
		height: 137px;
		min-height: 137px;
		background: $brand-blue;
		color: #FFF;
		.container{
			height: 100%;
			@include flex-display(center, center, center, row); 
			@media (min-width: 1200px){
				// width: 978px;
			 	max-width: 100%;
			}
		}
		.form-inline{
			.form-group{
				width: 478px;
				margin-right: 26px;
    			margin-left: 24px;
			}
			label{
				// width: 267px;
				min-height: 28px;
				font-size: 24px;
				text-align: center;
				color: #ffffff;
				@media (min-width: 1200px){
					justify-content: flex-start;
				}
			}
			select.form-control{
				width: 100%;
				height: 40px;
				border-radius: 1px;
				background-color: #ffffff;
				margin: 6px;
			}
			button{
				height: 40px;
			}
		}
		@media(max-width: 425px){
			height: auto;
			padding: 20px 0px;
		}
	}
	@media (max-width: 1024px){
		.blue_box{
			.form-inline{
				.form-group{
					width: 250px;
				}
				label{
					width: auto;
					
				}
			}
		}
	}
	@media (max-width:425px){
		.blue_box{
			.form-group, select, button{
				width: 100% !important;
				margin: 5px auto !important;
			}
		}	
	}
}

 
