body{
	main{
		// padding-top: $section-gap;
	}
	&[data="forms"]{
		main{
			padding-top: 0px;
			padding-bottom: 0px;
			height: 100%;
			background-color: $brand-blue;
			background-image: url(../../assets/img/backgrounds/form.png);
			background-repeat: no-repeat;
			background-attachment: fixed;
			min-height: 100vh;
		}
	}
	&[data="mvp_ad"]{
		main{
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}
}

// section gap uniform all through
%section-gap{
	padding: $section-gap 0;
}

#intro{
	@extend %section-gap;
	.container{
		.thumbnail{
			text-align: center;
			margin: 0 auto 48px auto;
		}
	}
	@media (min-width: 992px){
		.container{
			width: 60%;
		}
	}
}

#process{
	@extend %section-gap;
	.card{
		@include border-radius(0px);
		box-shadow: none;
		color: #4a4a4a;
		text-align: center;
		img{
			/*width: 72px;
			height: 72px;*/
			margin: 0 auto;
		}
		.card-title{
			font-size: 24px;
			font-weight: 500;
			text-align: center;
		}
		.card-text{
			font-size: 16px;
		}
	}
	
}

.descriptions{
	.title{
		font-size: 32px;
  		font-weight: 500;
  		text-align: center;
  		color: #4a4a4a;
  		margin-bottom: 64px;
		font-family: $font-family;
	}
	p{
		font-size: 16px;
		line-height: 1.88;
		text-align: left;
		color: #4a4a4a;
	}
}


#how-it-works{
	@extend %section-gap;
	min-height: 878px;
	background: $brand-blue;
	// padding: 48px 0px;
	color: #FFF;

	@extend #process;
	.descriptions{
		.title{
			color: #FFF;
		}
	}
	.card{
		color: #FFF;
		background-color: transparent;
		background: transparent;
		height: 100%;
		img{
			width: 86px;
			height: 72px;
			margin: 0 auto;
		}
	}
	@include grid-divide(111px, 0px, 1px solid #FFF);
	@media (min-width: 992px){
		.container{
			width: 75%;
		}
	}
}

#enroll{
	@extend %section-gap;
  	color: #4a4a4a;
  	font-size: 16px;
  	h5,h6{
  		font-weight: 500;
  	}
  	.details{
  		margin-bottom: 58px;
		&:last-child{
			margin-bottom: 0px;
		}
  	}
  	.details_title{
  		font-size: 24px;
  		font-weight: 500;
  		margin-bottom: 24px;
	}
	.details_text{
		text-align: left;
	}
	ul{
		li{
			list-style-type: disc;
		}
		padding-left: 20px;
	}
	.media{
		img{
			width: 166px;
			height: 185px;
		}
	}
	.card{
		border-radius: 3px;
  		background-color: #f9f9f9;
  		border: solid 0.5px $brand-grey;
  		box-shadow: none;
  		margin-bottom: 48px;
  		.starts, .ends, .address, .guides{
  			margin-bottom: 24px;
  			p{
  				margin-bottom: 0px;
  			}
  		}
	}
	@media (min-width: 768px){
		.row{
			justify-content: space-between;
		}
		.col-md-3 {
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 30%;
		    -ms-flex: 0 0 30%;
		    flex: 0 0 30%;
		    max-width: 30%;
		}
	}
}

#courses{
	@extend %section-gap;
	@extend #process;
	[class*='col-']{
		.card{
			padding-top: 16px;
			padding-bottom: 5px;
		}
		@media(min-width: 768px){
			&:not(:first-child){
			
				padding-left: 0px;
				.card{
					border-left: 1px solid $brand-grey;
				}
			}
			&:not(:last-child){
				padding-right: 0px;
			}		
		}
	}
}

#events{
	@extend %section-gap;
	@extend #courses;
	[class*='col-']{
		@media(max-width: 425px){
			&:not(:last-child){
				.card{
					border-bottom: 1px solid $brand-grey;
				}
			}
		}
		@media(min-width: 768px){
			.card{
				padding: 16px 60px;
			}
			&:not(:first-child){
				.card{
					border-right: 1px solid $brand-grey;
				}
			}
			&:not(:last-child){
				.card{
					border-left: 1px solid $brand-grey;
				}
			}
		}
		@media(min-width: 1024px){
			.card{
				padding: 32px 120px;
			}	
		}

	}
	// #calendar{
	// 	margin-bottom: 88px;
	// }
	.fc-day-grid-event{
		text-align: center;
	}
	.details{
		p{
			font-size: 24px;
  			text-align: center;
  			color: #4a4a4a;
		}
		button{
			width: 100%;
			max-width: 313px;
		}
	}
}


#seniors{
	@extend %section-gap;
	@extend #enroll;
	.details{
		.job_title{
			font-size: 32px;
    		font-weight: 500;
			margin-bottom: 24px;
		}
		.mail{
			color: $brand-yellow;
			font-weight: bold;
		}
		text-align: justify;
		margin-bottom: 48px;
	}
	.container{
		@media (min-width: 1200px){
			width: 978px;
			max-width: 100%;
		}
	}
}

#careers{
	@extend %section-gap;
	@extend #seniors;
	.form-inline{
		*{
			width: 100%;
		}
		.md-form{
			margin-bottom: 0px;
			margin-right: 12px;
			position: relative;
			.form-control{
				margin-top: 6px;
				margin-bottom: 6px;
				height: 40px;
				box-sizing: border-box;
			}
			&:nth-child(1){
				max-width: 263px;
			}
			&:nth-child(2){
				max-width: 360px;
			}
			input[type="search"]{
				padding-left: 45px;
			}
			.fa{
				position: absolute;
				top: 18px;
				left: 16px;
				width: 16px !important;
				height: 16px !important;
			}	
		}
		button{
			max-width: 144px;
			height: 40px;
			@media(min-width: 1200px){
				margin-left: 12px;
			}
		}
	}
	.positions{
		padding: 48px 97px;
		border: solid 0.5px $brand-grey;
		.headings{
			font-size: 14px;
			font-weight: 500;
			text-align: left;
			color: #9b9b9b;
		}
		.time{
			font-size: 16px;
			color: #4a4a4a;
		}
		.host{
			margin-bottom: 0px;
		 	li{
				list-style: none;
				list-style-type: none;
				@extend .time;
			}
		}
		.descriptions, .starts, .ends{
			margin-bottom: 25px;
		}
		#bookingForm{
			label{
				font-size: 14px;
				font-weight: 500;
				color: #9b9b9b;
			}
			textarea{
				min-height: 156px;
			}
			fieldset{
				margin-bottom: 48px;
			}
			.form-control{
				box-shadow: none !important;
				border: solid 0.5px $brand-grey;
			}
			.md-form{
				width: 100%;
			}
			#event_initials{
				.md-form:first-of-type{
					@extend #anchors;
				}
			}
			#durations{
				max-width: 166px;
			}
			#anchors{
				max-width: 361px;
			}
		}
		@media(max-width:425px){
			padding: 10px 15px;
		}
	}
	.position{
		margin-bottom: 54px;
		h4{
			color: $brand-blue;
			font-weight: 500;
			font-size: 24px;
			margin-bottom: 16px;
		}
		li{
			list-style: none;
			list-style-type: none;
			font-size: 16px;
			color: #4A4A4A;
		}
	}
	.details{
		.place{
			font-size: 24px;
			font-weight: 500;
			text-align: left;
			color: #9b9b9b;
		}
	}
}

#product{
	@extend %section-gap;
	@extend #enroll;
	@extend #intro;
	.card{
		background: #FFF;
		border-radius: 0;
		.thumbnail{
			min-height: 300px;
		}
	}
}

#forms {
	// @extend .section-gap;
	@extend #intro;
	padding-top: 0 !important;
	color: #FFF;
	.form-control{
		box-shadow: none !important;
		border: 1px solid $brand-grey !important;
		margin-top: 0px;
		margin-bottom: 12px;
		background: #FFF;
		&:hover, &:focus{
			@extend .form-control;
		}
	}
	.logo{
		padding-bottom: 60px;
    	padding-top: 20px;
		img{
			width: 200px;
	    	height: 53px;
		}
	}
	.form_intro{
		font-size: 24px;
		font-weight: 500;
		text-align: left;
		margin-bottom: 8px;
	}
	.instructions{
		font-size: 14px;
  		text-align: left;
		margin-bottom: 24px;
	}
	label{
		font-size: 14px;
  		text-align: left;
		margin-bottom: 5px;
	}
	button{
		margin-top: 24px;
	}
	.md-form{
		margin-bottom: 0px;
		[class*='col-']{
			&:first-child{
				padding-right: 6px;
			}
			&:last-child{
				padding-left: 6px;
				select{
					padding-left: 10px;
					padding-right: 5px;
				}
			}
		}
	}
	.details{
		height: 100%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		.details_text{
			font-size: 24px;
			font-weight: 500;
			line-height: 1.33;
		}
	}
}

#success{
	@extend #forms;
	color: $brand-dark;
	.logo{
		padding-bottom: 142px;
		@media(max-width:425px){
			padding-bottom: 71px;
		}
	}
	.card{
		width: 100%;
		max-width: 361.2px;
		margin: 0 auto;
		position: relative;
		&:before, &:after{
			top: 99%;
			right: 0;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-top: 30px solid #FFF;
			border-right: 0 solid transparent;
			border-bottom: 0 solid transparent;
			border-left: 50px solid transparent;
		}
	}
}

#mvp_ad {
	@extend #forms;
	color: $brand-dark;
	.logo{
		padding-bottom: 100px;
		@media(max-width:425px){
			padding-bottom: 50px;
		}
	}
	.descriptions{
		margin-bottom: 24px;
	}
}
#mvp_ad2{
	@extend #courses;
	background: $brand-blue;
	margin-bottom: 0;
	padding: 80px 0;
	color: #FFF;
	.card{
		background: transparent;
		color: #FFF;
	}
	.descriptions .title, .card-title, a{
		color: #FFF;
	}
	.card-title{
		margin-bottom: 16px;
	}
	ul{
		margin-top: 152px;
	}
	li{
		text-align: center;
		display: inline-block;
		&:nth-child(2){
			margin: 0 80px;
		}
	}
}